<!DOCTYPE html>
<html>  
<head>
    <title>week 4 assignment - log in</title>
    <link rel="stylesheet" type="text/CSS" href="/forflask.css">
</head>

<body>
<div Class="HeroTop">
    <div Class="HeroText">歡迎光臨,請輸入帳號密碼
    </div>    
</div>    
    
<div Class="FormFrame"><div Class="form">
    <form action="/signin", method='POST'>
        帳號<input type="text" name="AccountName" /><br>
        密碼<input type="password" name="AccountPassword"/><br>
        <br><br>
    <div Class=ButtonFrame>
        <button Class="ButtonCenter">登入</button>
    </div>    

    </form>
</hr>
</div>   
    
</body>
</html>