.HeroTop{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 200px;
    font-size:32px;
    background-color:rgb(19, 23, 73);
}
.HeroText{
    font-size:24px;
    text-align: center;
    height: 100px;
    width: 400px;
    color:white;
}

.FormFrame{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 200px;
    font-size:14px;
    background-color:rgb(255, 255, 255);
}
.FormContent{
    font-size:14px;
    text-align: center;
    height: 100px;
    width: 400px;
    color:rgb(0, 0, 0);
}

.ButtonFrame{
    display: flex;
    justify-content:center;
    align-items:center;
}

.ButtonCenter{
    text-align: center;
}

.ContentFrame{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 200px;
    font-size:16px;
    background-color:rgb(255, 255, 255);
}
.ContentText{
    font-size:16px;
    text-align: center;
    height: 100px;
    width: 400px;
    color:rgb(0, 0, 0);
}
